# 1110作业
## 第一题，最后一行输出结果

In [8]:
import pandas as pd
data=pd.read_csv('空气质量.csv')
tianjin=data.loc[data['city']=="天津"]
tianjin

,time,city,AQI,PM2.5,PM10,SO2,NO2,CO,O3,primary_pollutant
433043,2013-12-31,天津,144,89,238,115,71,2.5,18.0,PM10
433044,2013-12-30,天津,132,100,200,146,79,3.1,13.0,PM2_5
433045,2013-12-29,天津,130,99,175,147,69,2.7,12.0,PM2_5
433046,2013-12-28,天津,62,42,73,75,54,1.4,20.0,PM10
433047,2013-12-27,天津,44,26,44,67,50,1.3,19.0,NaN
...,...,...,...,...,...,...,...,...,...,...
434741,2018-07-05,天津,173,50,98,7,33,1.0,NaN,臭氧
434742,2018-07-04,天津,158,37,68,7,31,0.9,NaN,臭氧
434743,2018-07-03,天津,94,23,42,4,25,0.7,NaN,臭氧
434744,2018-07-02,天津,109,31,46,3,19,0.9,NaN,臭氧
434745,2018-07-01,天津,74,50,67,5,24,1.2,NaN,臭氧

## 第二题，最后一行输出结果

In [21]:
import numpy as np
pm=-np.sort(-tianjin['PM2.5'])
pm25=tianjin.loc[tianjin['PM2.5']>=pm[200-1]]
pm25

,time,city,AQI,PM2.5,PM10,SO2,NO2,CO,O3,primary_pollutant
433049,2013-12-25,天津,371,321,462,213,110,4.2,11.0,PM2_5
433050,2013-12-24,天津,227,177,257,165,96,4.4,11.0,PM2_5
433051,2013-12-23,天津,314,264,406,260,126,5.4,9.0,PM2_5
433052,2013-12-22,天津,242,192,274,184,89,3.1,10.0,PM2_5
433058,2013-12-16,天津,206,156,274,178,122,4.4,7.0,PM2_5
...,...,...,...,...,...,...,...,...,...,...
434601,2018-03-23,天津,205,155,176,23,98,1.8,108.0,细颗粒物(PM2.5)
434610,2018-03-14,天津,178,134,111,18,79,1.6,116.0,细颗粒物(PM2.5)
434611,2018-03-13,天津,335,285,267,27,132,2.8,206.0,细颗粒物(PM2.5)
434612,2018-03-12,天津,180,136,148,17,88,1.9,120.0,细颗粒物(PM2.5)
434653,2018-04-01,天津,224,174,198,14,91,1.9,202.0,细颗粒物(PM2.5)

In [81]:
date=pm25['time'].str.split('-',expand=True)
rlt=date[1].value_counts()
print('是第'+rlt.index[0]+'月出现最多，为'+repr(rlt[0])+'次')

是第12月出现最多，为55次