# 1110作业
## 第一题，最后一行输出结果

In [1]:
import pandas as pd
data=pd.read_csv('空气质量.csv')
tianjin=data.loc[data['city']=="天津"]
tianjin

,time,city,AQI,PM2.5,PM10,SO2,NO2,CO,O3,primary_pollutant
433043,2013-12-31,天津,144,89,238,115,71,2.5,18.0,PM10
433044,2013-12-30,天津,132,100,200,146,79,3.1,13.0,PM2_5
433045,2013-12-29,天津,130,99,175,147,69,2.7,12.0,PM2_5
433046,2013-12-28,天津,62,42,73,75,54,1.4,20.0,PM10
433047,2013-12-27,天津,44,26,44,67,50,1.3,19.0,NaN
...,...,...,...,...,...,...,...,...,...,...
434741,2018-07-05,天津,173,50,98,7,33,1.0,NaN,臭氧
434742,2018-07-04,天津,158,37,68,7,31,0.9,NaN,臭氧
434743,2018-07-03,天津,94,23,42,4,25,0.7,NaN,臭氧
434744,2018-07-02,天津,109,31,46,3,19,0.9,NaN,臭氧
434745,2018-07-01,天津,74,50,67,5,24,1.2,NaN,臭氧

## 第二题，最后一行输出结果

In [2]:
pm25=tianjin.sort_values(by=['PM2.5'],ascending=False).head(200)
pm25

,time,city,AQI,PM2.5,PM10,SO2,NO2,CO,O3,primary_pollutant
433386,2014-11-21,天津,422,383,483,97,171,5.2,9.0,PM2_5
433782,2015-12-21,天津,391,341,465,91,140,3.6,NaN,细颗粒物(PM2
433832,2016-01-02,天津,384,334,475,63,137,3.5,NaN,细颗粒物(PM2
433410,2014-12-28,天津,378,328,405,127,113,3.9,9.0,PM2_5
433049,2013-12-25,天津,371,321,462,213,110,4.2,11.0,PM2_5
...,...,...,...,...,...,...,...,...,...,...
434167,2016-12-02,天津,166,126,170,66,95,2.2,NaN,细颗粒物(PM2
433851,2016-02-12,天津,166,126,183,28,44,3.0,NaN,细颗粒物(PM2
433487,2015-02-10,天津,166,126,204,90,81,2.2,16.0,PM2_5
433357,2014-10-20,天津,165,126,154,12,39,1.2,18.0,PM2_5
433495,2015-02-02,天津,166,126,180,127,99,2.1,9.0,PM2_5

## 第三题，print出结果

In [3]:
date=pm25['time'].str.split('-',expand=True)
rlt=date[1].value_counts()
print('是第'+rlt.index[0]+'月出现最多，为'+repr(rlt[0])+'次')

是第12月出现最多，为55次